* {
    margin: 0;
    padding: 0;
    font-family: Myriad Pro;
}

p {
    font-size: 12px;
    line-height: 14px;
}

body {
    height: 2000px;
}

aside {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: 1px solid black;
    background-color: #fbaf5d;
    width: 87px;
    height: 69px;
}

section {
    position: absolute;
    width: 526px;
    margin: 0 auto;
    top: 200px;
    left: 0;
    right: 0;
}

article {
    position: absolute;
    width: 455px;
    height: 668px;
    border: 2px solid black;
    padding: 39px 32px;
}

.SectionOfArticle {
    position: static;
    width: 100%;
    margin: 17px 0 0px 0;
}

.SectionOfArticle::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section>header {
    font-size: 18px;
    line-height: 17px;
    margin: 0px 0 7px 0;
}

header {
    font-size: 24px;
    line-height: 22px;
}

.LeftImage {
    margin: 0px 21px 15px 0;
    float: left;
}

.RightImage {
    margin: 0px 0 0px 0;
    float: right;
}

.SectionOfArticle:nth-of-type(3) .LeftImage {
    margin: 14px 0px 0px 0;
}

.SectionOfArticle:nth-of-type(3) .RightImage {
    margin: 14px 0px 0px 0;
}

footer {
    font-size: 9px;
    line-height: 10px;
    width: 440px;
    margin: 28px auto 0px;
    text-align: center;
}

.bookmark {
    border-radius: 0 10px 10px 0;
    position: absolute;
    width: 107px;
    height: 31px;
    border: 2px solid black;
}

article:nth-of-type(1) {
    top: -20px;
    left: -20px;
    z-index: 6;
    background-color: #ebebeb;
}

article:nth-of-type(1) .bookmark {
    z-index: 7;
    top: 38px;
    left: 492px;
    background-color: #f68e56;
}

article:nth-of-type(2) {
    top: 0px;
    left: 0px;
    z-index: 4;
    background-color: #cccccc;
}

article:nth-of-type(2) .bookmark {
    z-index: 5;
    top: 41px;
    left: 460px;
    background-color: #39b54a;
}

article:nth-of-type(3) {
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: #acacac;
}

article:nth-of-type(3) .bookmark {
    z-index: 3;
    top: 44px;
    left: 428px;
    background-color: #00aeef;
}

@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}
