* {
    margin: 0;
    padding: 0;
    font-family: Myriad Pro;
}

p {
    font-size: 12px;
}

body {
    height: 2000px;
}

section {
    position: absolute;
    width: 526px;
    margin: 0 auto;
    top: 124px;
    left: 0;
    right: 0;
}

article {
    position: absolute;
    width: 458px;
    height: 667px;
    border: 2px solid black;
    padding: 41px 32px;
}

header {
    font-size: 24px;
    line-height: 22px;
}

img:nth-of-type(odd) {
    margin: 20px 20px 0 0;
    float: left;
}

img:nth-of-type(even) {
    margin: 20px 0 0 0;
    float: right;
}

p, h1 {
    margin: 20px 0 0 0;
}

.sticker {
    border-radius: 0 10px 10px 0;
    position: absolute;
    width: 98px;
    height: 34px;
    border: 2px solid black;
}

.sticker:nth-of-type(1) {
    width: 110px;
    z-index: 7;
    top: 40px;
    left: 506px;
    background-color: #f68e56;
}

article:nth-of-type(1) {
    top: -20px;
    left: -20px;
    z-index: 6;
    background-color: #ebebeb;
}

article:nth-of-type(2) {
    top: 0px;
    left: 0px;
    z-index: 4;
    background-color: #cccccc;
}

article:nth-of-type(3) {
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: #acacac;
}

@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
